<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Übersetzungs-App erstellt mit Symfony 7</title>
        <link href="{{ asset('css/adminlte.min.css') }}" rel="stylesheet" />
        {% block javascript %}{% endblock %}
    </head>
    <body class="dark-mode">
        {% block content %}{% endblock %}
    </body>
</html>
