{% extends 'base.html.twig' %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h1>Neuen Text erstellen</h1>
            <p>Neue Texte werden automatisch der deutschen Sprache zugewiesen.</p>
            {{ form(form) }}
        </div>
        <div class="card-footer clearfix">
            <a href="{{ path('list') }}" class="btn btn-sm btn-info float-left">Zurück</a>
        </div>
    </div>
{% endblock %}